# This file describes the network interfaces available on your system
# and how to activate them. For more information, see interfaces(5).

# The loopback network interface
auto lo
iface lo inet loopback

# The primary network interface
auto eth0
#iface eth0 inet dhcp
iface eth0 inet static
         address 192.168.3.22
         netmask 255.255.255.0
         broadcast 192.168.3.255
         gateway 192.168.3.2
         dns-nameservers 192.99.240.129 172.81.176.146 8.8.8.8

auto he-ipv6
iface he-ipv6 inet6 v4tunnel
        address 2001:470:1f16:23a::2
        netmask 64
        endpoint 184.105.255.26
#         local 199.101.56.46
        local 192.168.3.2
        ttl 255
        gateway 2001:470:1f16:23a::1

