# This is a basic, open wireless configuration example
# The remarked lines (with the # in front of them) need to be removed from file
# 

auto lo

iface lo inet loopback
iface eth0 inet dhcp

allow-hotplug wlan0
auto wlan0
iface wlan0 inet dhcp
# add the essid info as the following example, with the essid of the network
# you wish to connect to, again, remove the remarked (# prefixed) lines
# eg.
# wireless-essid YIA nopiming
wireless-essid stud2014
wireless-mode managed

# Everything below the wireless-mode managed needs to be removed, this is only
# information for the more advanced wpa configuration, using
# the old info (from fresh install) after allow-hotplug wlan0

iface wlan0 inet manual
wpa-roam /etc/wpa_supplicant/wpa_supplicant.conf
iface default inet dhcp

# ~~~~~~~~~~~~~~~~~
# The following is to be used if WPA used on wireless
#
# /etc/network/interfaces
# interfaces(5) file used by ifup(8) and ifdown(8)

# Please note that this file is written to be used with dhcpcd
# For static IP, consult /etc/dhcpcd.conf and 'man dhcpcd.conf'

# Include files from /etc/network/interfaces.d:
source-directory /etc/network/interfaces.d

auto lo
iface lo inet loopback

iface eth0 inet manual

allow-hotplug wlan0
iface wlan0 inet manual
    wpa-conf /etc/wpa_supplicant/wpa_supplicant.conf

# wlan1 may not be used, rather should be wlan0
# this config does work in a single 802.11 USB dongle implementation

allow-hotplug wlan1
iface wlan1 inet manual
    wpa-conf /etc/wpa_supplicant/wpa_supplicant.conf

iface wlan0 inet manual
wpa-roam /etc/wpa_supplicant/wpa_supplicant.conf
iface default inet dhcp

# ~~~~~~~~~~~~~~~~~
# This is the spa_supplicant info
#
# /etc/wpa_supplicant/wpa_supplicant.conf
ctrl_interface=DIR=/var/run/wpa_supplicant GROUP=netdev
update_config=1

network={
	ssid="per POP"
	psk="as expressed for pop"
	key_mgmt=WPA-PSK
}
