$TTL	86400 ; 24 hours could have been written as 24h or 1d
; $TTL used for all RRs without explicit TTL value
; $ORIGIN mine.
@       IN  SOA adns0.mine.	root.mine. (
			      2018072100 ; serial
			      3H ; refresh
			      15 ; retry
			      1w ; expire
			      3h ; nxdomain ttl
			     )
;
@       IN  NS     adns0.mine.
 ; in the domain
adns0   IN  A      x.x.x.x        ;change to public IP of domain
main    IN  A      x.x.x.x        ;change to public IP of domain


;  ftp    IN  CNAME  www.example.com.  ;ftp server definition
; non server domain hosts
; bill   IN  A      192.168.0.3
; fred   IN  A      192.168.0.4
